.education{
	.content{
		text-align: center;
		font-size: 22px;
		line-height: 40px;
	}
	.college-name{
		text-decoration: none;
		cursor: pointer;
		color: inherit;
		text-decoration: underline;
	}
}