@import "./constants.scss";

.container{
	padding: 0 calc((100vw - 1030px) / 2 );
}


body{
	background-color: $dark-bg;
	color: $dark-color;
  &.light{
		background-color: $light-bg;
    color: $light-color;
  }
	font-family: 'Ubuntu', serif;
	font-weight: 300;
	.section{
		margin: 80px 0;
		.section-header{
			font-family: 'Playfair Display', serif;
			display: flex;
			justify-content: center;
			padding: 40px 0;
			font-size: 30px;
		}
	}
	.footer{
		text-align: center;
	}
}