.container{
	padding: 0 calc((100vw - 1030px) / 2 );
}

body{
	color: white;
	font-family: 'Ubuntu', serif;
	font-weight: 300;
	.section{
		margin: 80px 0;
		.section-header{
			font-family: 'Playfair Display', serif;
			display: flex;
			justify-content: center;
			padding: 40px 0;
			font-size: 30px;
		}
	}
}