.work-experience {
	.experience-card{
		display: flex;
		margin: 40px 0;
		.experience-description{
			margin-left: 20px;
			.organization{
				font-size: 24px;
				margin-bottom: 10px;
			}
			.timeline{
				.timeline-item{
					border: none;
				}
			}
		}
	}
}