.work-experience {
	.experience-card{
		display: flex;
		margin: 40px 0;
		.experience-description{
			margin-left: 20px;
			.organization{
				font-size: 24px;
				margin-bottom: 10px;
			}
			.timeline{
				.timeline-item{
					border: none;
				}
			}
		}
	}
	.main-description{
		width: 50%;
		padding: 20px;
		font-size: 28px;
		font-family: 'Playfair Display', serif;
		line-height: 40px;
	}
}